/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
}

#game {
    margin-top: 50px;
}

#search-container {
    margin-bottom: 20px;
}

#word-container h2 {
    font-size: 30px;
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#definition {
    font-style: italic;
    margin-top: 20px;
    color: #333;
}

#feedback {
    margin-top: 20px;
}
